@import '../variable';
.dataPickerRange-wrapper{
  margin: 40px;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 12px;
  width: 220px;
  height: 40px;
  line-height: 16px;
  position: relative;
  display: block;
  &__inputWrapper{
    color:#BFC5D2;
    background: #F4F6FC;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    height: 100%;
    border: 1px solid #BFC5D2;
    &__label {
      width: 100%;
      height: 100%;
      margin: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      color: #B0BAC9;
      font-family: 'Montserrat-bold',sans-serif;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 1.125px;
      padding: 4px 0;
      text-transform: uppercase;
      display: block;
      border: none;
    }
    &__after{
      margin: 0;
      width: 100%;
      height: 100%;
      &__separator{
        height: 1px;
        width: 24px;
        position: absolute;
        top: 50%;
        left: calc(50% - 24px);
        background-color: #BFC5D2;
      }
      &:first-of-type input{
        width: 50%;
        padding-left:8px;
      }
      &:last-of-type input{
        width: 50%;
        padding-left: 4px;
      }
      position: relative;
      input {
        line-height: 24px;
        font-family: 'SF Pro Display', sans-serif;
        border-radius: 5px;
        font-weight: 400;
        color:#BFC5D2;
        background: #F4F6FC;
        box-sizing: border-box;
        height: 100%;
        border: none;
        font-size: 16px;
        &:focus {
          border: none;
          outline: none;
          color:#69707F;
        }
        &::placeholder{
          font-family: 'SF Pro Display',sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: #BFC5D2;
        }
      }
      img {
        content: '';
        position: absolute;
        top: 10px;
        right: 8px;
        transform-origin: center;
        height: 15px;
        width: 16px;
        background-image: image('../../assets/images/calendar.svg');
      }
    }
  }
  &__calendar{
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    background-color: #FFFFFF;
    z-index: 9999999999999999999999999999;
    left: 0;
    width: 272px;

    position: absolute;
    padding: 16px;
    .calendarFrom{
      padding-right: 5px;
      border-right: 1px solid #E0E0E0;
    }
    .calendarTo{
      padding-left: 5px;
    }
    &__change{

      display: flex;
      justify-content: space-around;
      &__wrapper{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 50%;

        &__prev {
          justify-self: flex-start;
          cursor: pointer;
          padding: 12px;
          width: 4px;
          height: 8px;
          background-image: url('../../assets/images/arrayRight.svg');
          background-position: center;
          background-size: 4px 8px;
          background-repeat: no-repeat;
          transform-origin: center;
          transform: rotate(180deg);
          &:hover{
            background-image: url('../../assets/images/array.svg');
          }
        }
        &__next {
          cursor: pointer;
          padding: 12px;
          width: 4px;
          height: 8px;
          background-image: url('../../assets/images/arrayRight.svg');
          background-position: center;
          background-size: 4px 8px;
          background-repeat: no-repeat;
          transform-origin: center;
          &:hover{
            background-image: url('../../assets/images/array.svg');
          }
        }
      }
    }
    &__date {
      table{
        font-size: 12px;
        margin-top: 16px;
        width: 100%;
        height: auto;
        text-align: center;
        border-collapse: collapse;
        .separate{
          height: 12px;
        }
        thead{
          border-bottom: 1px solid #E0E0E0;
          padding: 500px;
          color:#BDBDBD;
          th{
            width: 32px;
            height: 32px;
          }
        }
        tbody{
          tr{
            td{
              position: relative;
              width: 32px;
              height: 32px;
              cursor: pointer;
              color: #69707F;
            }
          }
        }
      }
    }
  }
}
.activeItemTd{
  color: #FFFFFF !important;
}
.activeItemTd:after{
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2E384D !important;
  border-radius: 50% !important;
  z-index: -9999999999999;
}
.activeItemFrom:before{
  content: '';
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 0;
  right: 0;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  background-color: #EEF3F5 !important;
  z-index: -99999999999;
}
.activeItemTo:before td:last-child{
}
.activeItemTo:before{
  content: '';
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 0;
  right: 0;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  background-color: #EEF3F5 !important;
  z-index: -99999999999;
}
.activeItemRange:after {
  content:'';
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 0;
  right: 0;
  background-color: #EEF3F5;
  z-index: -9999999999999;
  color:#ffffff !important;
}
td:first-child:after   {
  overflow: hidden;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
}
td:last-child:after   {
  overflow: hidden;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
}