.hide_wrapper {
  position: sticky;
  z-index: 999999999;
  margin: 0 -30px;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 32px;
  background: #ffffff;
  height: 56px;
  box-shadow: var(--box-shadow);
}
.link_box {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 8px;
  height: 100%;
  align-items: center;
  padding-right: 40px;
}
.hide_wrapper__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #43bf41;
}
.hide_wrapper__link:hover {
  color: #43bf41;
}
.hide_wrapper__clear {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  height: 100%;
  line-height: 24px;
  color: #8798ad;
}
.hide_wrapper__clear:hover {
  color: #8798ad;
}
@media screen and (min-width: 1439px) {
  .hide_wrapper {
  }
}
