@import "../../styles/variables.scss";

.stuff-page{
  padding-bottom: 100px;
  &__filter{
    margin: 0 -32px;
    background: $WHITE;
    box-shadow: $BOX_SHADOW;
    padding: 24px 32px;
  }

  &__info-stuff{
    margin-top: 44px + 40;
  }
  &__add-stuff{
    margin: 24px 0;
  }
}

.list-container{
  color: rgba(105, 112, 127, 0.7);;
  .name{
    color:rgba(105, 112, 127, 0.7);
  }
  &__column{
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 16px 24px;
    grid-template-columns: repeat(auto-fill,218px);
    justify-content: center;
    a:hover{
      color: rgba(105, 112, 127, 0.7);;
    }
    .devider{
      display: block;
    }
    .item{
      @extend %name;
      border-radius: 8px;
      padding: 20px 16px;
      background: $WHITE;
      box-shadow: $BOX_SHADOW;
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: min-content;
      grid-gap: 11px 24px;
      .group-first_line{
        display: flex;
        flex-direction: column;
        gap: 11px;
      }
      .group-second_line{
        display: flex;
        flex-direction: column;
        gap: 11px;
      }
      .item-flex{
        display: flex;
        gap: 9.33px;
        align-items: center;
      }
    }

  }
  &__row{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px 24px;
    a:hover{
      color: rgba(105, 112, 127, 0.7);;
    }
    .devider{
      display: none;
    }
    .item{
      @extend %name;
      border-radius: 8px;
      padding: 20px 32px;
      background: $WHITE;
      box-shadow: $BOX_SHADOW;
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: min-content;
      grid-gap: 12px 24px;
      .group-first_line{
        display: flex;
        flex-direction: row;
        gap: 11px;
        flex-wrap: wrap;
      }
      .group-second_line{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 11px;
      }
      .item-flex{
        width: 200px;
        display: flex;
        gap: 9.33px;
        align-items: center;
      }
    }
  }
}
.info-stuff{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  gap: 18px;
  &__text{
    @extend %caption2;
    color:$GRAY;
    text-transform: none;
    letter-spacing: normal;
  }
  &__text_bold{
    color:$BLACK_80;
    text-transform: none;
    letter-spacing: normal;
  }
  &__text_selector{
    color:$GREEN;
    cursor:pointer;
    display: inline-flex;
    align-items: center;
    text-decoration: underline;
  }
  &__text_selector_down{
    &:after{
      content:'';
      display: block;
      width: 4px;
      height: 4px;
      border-top: 1px solid $GREEN;
      border-right: 1px solid $GREEN;
      transform: rotate(135deg) translateY(-2px)translateX(-2px);
    }
  }
  &__text_selector_up{
    &:after{
      content:'';
      display: block;
      width: 4px;
      height: 4px;
      border-top: 1px solid $GREEN;
      border-right: 1px solid $GREEN;
      transform: rotate(-45deg) translateY(3px)translateX(1px);
    }
  }
  &__factor{
    display: flex;
    align-items: center;
    gap: 13px;
    margin-left: auto;
    svg{
      cursor:pointer;
    }
  }
  &__factor_active path{
    fill:$GREEN;
  }
}
.block-container{
  display: grid;
  grid-gap: 16px 24px;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: min-content;
  position: relative;
  &__clear {
    background: $WHITE;
    box-shadow: $BOX_SHADOW;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    height: 40px;
    margin: 0 -32px;
    padding-left: 32px;
    border-top: 2px solid $GRAY_50;
  }
  &__clear_show{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__clear_hide{
    display: none;
  }
  &__clear-text{
    @extend %text;
    color:$BLACK_50;
    cursor: pointer;
  }
}
