.selector_month{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.prev{
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #8798AD;
}
.next{
    cursor: pointer;
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar_month{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: min-content repeat(6,1fr);
    grid-gap: 4px;
}
.weekdays_month{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 4px;
    line-height: 16px;
    letter-spacing: 1.125px;
    text-transform: uppercase;
    color: #8798AD;
    text-align: center;
}
.item_month {
    display: flex;
    flex-direction:column;
    cursor: pointer;
    padding: 12px;
    height: 98px;
    background: #DFE6EE;
}
.date {
    font-family: 'SF Pro Display',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 12px;
}
.label_date{
    font-family: 'SF Pro Display',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.item_month_mute{
    opacity: 0.5;
}
.item_month_green{
    background: #43BF41;
    color:white;
}
.calendar_week{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 3px;
}
.weekdays_week{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 9px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.125px;
    text-transform: uppercase;
    color: #8798AD;
    text-align: center;
}
.item_week {
    display: flex;
    flex-direction:column;
    cursor: pointer;
    padding: 12px;
    height: 64px;
    background: #DFE6EE;
    font-family: 'SF Pro Display',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #8798AD;
}
.item_week_green{
    background: #43BF41;
    color:white;
}
.date_week {
    font-family: 'SF Pro Display',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 4px;
}
.label_date_week{
    font-family: 'SF Pro Display',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.no_filter_data{
    font-family: 'SF Pro Display',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #8798AD;
}
.table{
    border-collapse: separate;
    border-spacing: 4px;
}
.table thead th{
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.125px;
    text-transform: uppercase;
    color: rgba(105, 112, 127, 0.7);
}
.table tbody td{
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: 'SF Pro Display',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #8798AD;
}
.table tbody tr:nth-child(2n+1){
    background: #FBFBFE;
}
.table tbody tr:nth-child(2n+2){
    background: #F4F6FC;
}
.delete_lesson{
    cursor: pointer;
    margin-left: 16px;
    margin-right: 16px;
}