.block_info{
    background: #ffffff;
    padding: 32px 16px;
    margin: 16px 0;
    position: relative;
}
.block_info__title_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 24px;
}
.block_info__title_wr_text{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #8798AD;
    padding-left: 12px;
}
.block_info__title{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #8798AD;
    padding-bottom: 24px;
}
.block_info__btn_group{
    display: grid;
    grid-template-columns: 4fr 5fr 3fr;
    grid-gap: 24px;
}
.block_info__item{
    display: grid;
    grid-template-columns: 3fr 9fr;
    position: relative;
}
.block_info__item_small{
    display: grid;
    grid-template-columns: 2fr 10fr;
    position: relative;
}
.block_info__item_parent{
    padding-bottom: 40px;
}
.block_info__item_parent:last-child{
    padding-bottom: 0;
}
.block_info__item_label{
    font-family: 'SF Pro Display',sans-serif;
    font-style: normal;
    font-weight: bold;
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #69707F;
}
.block_info__item_label:last-of-type{
    padding-bottom: 0;
}
.block_info__item_label__text{
    font-family: 'SF Pro Display',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #69707F;
    display: flex;
}
.block_info__item__checkbox{
    align-self: center;
}
.block_info__item__description{
    padding-left: 8px;
}
.block_info__parent_devider{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: -20px;
}
.notif{
    padding-bottom: 32px;
}
.nav_block{

    display: grid;
    padding: 40px 0 16px;
    grid-auto-flow: column;
    /*grid-template-columns: repeat(4,1fr);*/
    /*grid-template-rows: 1fr;*/
    width: 100%;
}
.nav_block__item{
    margin: auto;
    background: #BFC5D2;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'SF Pro Display',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #2E384D;
    position: relative;
}
.nav_block__item:hover{
    background: #b3b9c7;
    color:black
}
.nav_block__item_active{
    background: #FFFFFF;
    height: 44px;
    box-shadow: 2px 2px 4px -3px #BDBDBD;
    border-radius: 5px;
    z-index: 1;
}
.nav_block__item_active:hover{
    background: #ffffff;
}
.nav_block__item:not(:last-of-type)::before {
    content: '';
    position: absolute;
    right: -0.8px;
    top: calc(50% - 12px);
    width: 1px;
    height: 24px;
    background: rgba(0, 0, 0, 0.1);
}
.add_aboniment{
    display: grid;
    grid-auto-flow: row;
    grid-gap: 16px;
    align-items: end;
}
.aboniment{
    display: grid;
    grid-template-columns: 4fr 3fr 3fr 2fr;
    grid-gap: 24px;
}
.group{
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-gap: 24px;
}
.pass{
    display: grid;
    grid-template-columns: 5fr 3fr 4fr ;
    align-items: end;
    grid-gap: 24px;
}
.pass_adult{
    display: grid;
    grid-template-columns: 3fr 4fr 5fr;
    align-items: end;
    grid-gap: 24px;
}
.sale{
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-gap: 24px;
}
.sale_count{
    align-items: end;
    display: grid;
    grid-template-columns: max-content max-content 1fr max-content max-content;
    grid-template-rows: 1fr;
}
.sale_count img:last-child{
    padding-left: 6px;
}
.sale_count_text{
    font-family: 'SF Pro Display',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #69707F;
}
.sale_count_text:first-child{
    padding-right: 24px;
}
.sale_count_text:nth-last-child(2){
    border-bottom: 1px solid #69707F;
}
.sale_count_img{
    padding-bottom: 4px;
    width: 100%;
}
.success{
    padding-top: 16px;
    margin: auto;
}