@import '../../../../styles/variables';

.wrapper {
	padding-bottom: 100px;
	.header {
		@extend %h3;
		color: $BLACK_50;
		font-weight: 900;
	}
	.btn_group_three {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		align-items: end;
		gap:4px;
	}
	.btn_group_two {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 4px;
	}
	.chart_container {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 16px 24px;
		grid-auto-rows: min-content;
		canvas {
			height: 191px;
		}
	}
	.total_price{
		@extend %small_text;
		font-weight: 700;
		color: $BLACK_80;
	}
	.small{
		@extend %small_text;
		font-weight: normal;
		color: $BLACK_80;
	}
}
.carousel::-webkit-scrollbar { width: 0; }
.carousel { -ms-overflow-style: none; }
.carousel { overflow: -moz-scrollbars-none; }
.carousel {
	scrollbar-width: none;
}