/* colors */

$RED:#E50E0F;
$GREEN:#43BF41;
$NOT_GREEN:#579E54;
$NOT_RED:#D63649;
$NOT_YEL:#F7C137;
$BLACK:#2E384D;
$BLACK_80:#69707F;
$BLACK_50:#8798AD;
$GRAY:#BFC5D2;
$GRAY_50:#F4F6FC;
$GRAY_60:#EEF3F5;
$WHITE:#FFFFFF;

/* buttons variables */

//$SUCCESS_BTN:#43BF41;
//$SUCCESS_BTN_HOVER:#3EBA3C;
//$SUCCESS_BTN_ACTIVE#32AB30;
//$SUCCESS_BTN_DISABLED:#EEF3F5;
//$DANGER_BTN:#E50E0F;
//$DANGER_BTN_HOVER:#D61414;
//$DANGER_BTN_ACTIVE:#BD0E0F;
//$DANGER_BTN_DISABLED:#EEF3F5;
//$DEFAULT_BTN
//$DEFAULT_BTN_HOVER
//$DEFAULT_BTN_ACTIVE
//$DEFAULT_BTN_DISABLED
//$DARK_BTN
//$DARK_BTN_HOVER
//$DARK_BTN_ACTIVE
//$DARK_BTN_DISABLED

/* text variable */

%h1{
  font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 52px;
}
%h2{
  font-family: 'SF Pro Display',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}
%h3{
  font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
%h4{
  font-family: 'SF Pro Display',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
}
%text{
  font-family: 'SF Pro Display',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
%small_text{
  font-family: 'SF Pro Display',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
%caption{
  font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.125px;
  text-transform: uppercase;
}
%caption2{
  font-family: 'SF Pro Display',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.21333px;
  text-transform: uppercase;
}

/* grid columns classes */

@for $i from 1 through 12{
  .col-#{$i}{
    grid-column: span $i !important;
  }
}

$BOX_SHADOW: 0px 10px 20px rgba(46, 91, 255, 0.07);