@import '../../../../styles/variables.scss';
.wrapper {
	background-color: $WHITE;
	padding: 32px 16px;
	box-shadow: $BOX_SHADOW;
	//display: grid;
	margin: 0 -16px;
	//grid-template-columns: repeat(12,1fr);
	//grid-auto-rows: min-content;
	//grid-gap: 24px;
	@media screen and(min-width:1440px){
		&{
			grid-template-columns: repeat(11,1fr);
		}
	}
	.title {
		@extend %text;
		text-transform: uppercase;
		letter-spacing: 4px;
		font-weight: 800;
	}
	.sub_text {
		@extend %small_text;
	}
	.text {
		color: $BLACK_50;
	}
	.btn {
		margin-top: 32px - 24;
	}
	.table{
		grid-column: 1/13;
		/*display: grid;*/
		/*grid-template-columns: 4fr 2fr 2fr 4fr 1fr 1fr;*/
		/*grid-auto-rows: min-content;*/
		border-collapse: separate;
		table-layout: fixed;
		width: 100%;
	}
	.table td {
		padding: 14px 0;
		/*display: flex;*/
		/*justify-content: center;*/
		/*align-items: center;*/
		/*background-color: red;*/
		font-family: 'SF Pro Display',sans-serif;
		font-style: normal;
		font-weight: normal;
		overflow:hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #69707F;
	}
	table tr:nth-child(2n+1){
		background: #FBFBFE;
	}
	table tr:nth-child(2n+2){
		background: #F4F6FC;
	}
	table tr td:first-child{
		width: 92%;
	}
	table tr td:nth-child(2){
		width: auto;
	}
	table tr td:nth-child(3){
		width: auto;
	}
	.right:hover {
		background: #E0E3E9;
		cursor: pointer;
	}
	.table td:nth-child(2) {
		text-overflow: clip;
	}
}
.padding{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	padding-bottom: 100px;
}
