.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: min-content min-content;
	align-items: center;
	grid-gap: 0 16px;
	background: #ffffff;
	padding: 12px 0;
	border: 1px solid rgba(46, 91, 255, 0.08);
	box-sizing: border-box;
	box-shadow: 0 10px 20px rgba(46, 91, 255, 0.07);
	border-radius: 1px;
}
.info {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(3, min-content);
}
.time {
	font-family: 'SF Pro Display', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: #8798ad;
}
.name {
	font-family: 'SF Pro Display', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1px;
	color: #2e384d;
}
.option {
	display: flex;
}
.toggle_btn{
	align-self: center;
}
.add_client {
	grid-column: 10/13;
	display: grid;
	grid-template-columns: min-content min-content;
	grid-gap: 20px;
	justify-self: center;
	cursor: pointer;
}

.none {
	display: none;
	transition: all 0.5s;
}
.client_wrapper {
	display: block;
	grid-column: 1/13;
	padding-top: 16px;
	/*margin-left: -24px;*/
	/*margin-right: -24px;*/
	padding-bottom: 16px;
	border-top: 1px solid rgba(46, 91, 255, 0.08);
	transition: all 0.5s;
}
.client_wrapper table {
	width: 100%;
}
.client_wrapper tr {
	/*padding-left: 24px;*/
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: min-content;
	grid-gap: 24px;
}
.client_wrapper table td {
	font-family: 'SF Pro Display', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #2e384d;
}
.client_wrapper table td {
	padding-top: 10px;
	padding-bottom: 10px;
}
.table_notif {
	grid-column: 10/12;
	justify-self: end;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: min-content;
	grid-gap: 4px;
	align-items: center;
}
.persona {
	grid-column: 1/10;
}
.remove {
	grid-column: 12/13;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
.remove_client path {
	fill: #bfc5d2;
}
.remove_client:active path {
	fill: #8798ad;
}
.remove_client {
	cursor: pointer;
}
.flex_client_wrapper {
	grid-column: 1/9;
	display: grid;
	grid-template-columns: repeat(9, 1fr);
}
.flex_first_child {
	padding-left: 24px;
	grid-column: 1/7;
	display: flex;
	align-items: center;
}
.flex_first_child img {
	margin-right: 16px;
}
.people {
	grid-column: 7/9;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, min-content);
	grid-gap: 8px;
	justify-items: center;
}
.people_text {
	font-family: 'SF Pro Display', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: #69707f;
}

@media screen and (min-width: 1440px) {
	.wrapper {
		grid-template-columns: repeat(11, 1fr);
		padding-left: 24px;
	}
	.client_wrapper {
		grid-column: 1/12;
		margin-left: -24px;
	}
	.client_wrapper tr {
		padding-left: 24px;
		grid-template-columns: repeat(11, 1fr);
	}
	.persona {
		grid-column: 1/10;
	}
	.table_notif {
		grid-column: 10/11;
	}
	.remove {
		grid-column: 11/12;
	}

	.flex_client_wrapper {
		grid-column: 1/9;
	}
	.flex_first_child {
		padding: 0;
	}
	.add_client {
		grid-column: 10/12;
	}
	.client_wrapper {
		grid-column: 1/12;
	}
	.remove_client path {
		fill: #8798ad;
	}

	.remove {
		justify-content: center;
	}
	.client_wrapper table tr td:last-child {
		opacity: 0;
	}
	.client_wrapper table tr:hover {
		background: #f4f6fc;
	}
	.client_wrapper table tr:hover td:last-child {
		opacity: 1;
	}
}
