.footer {
    z-index: 99999999999999999999999999999999999999;
    height: 72px;
    background: radial-gradient(circle at calc(100% - 51px) 7px, transparent 43px, white 48px);
    position: relative;
    display: flex;
    justify-content: flex-start;

}
.footer_wrapper{

}
.home {
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: -40px;
}
.home {
    fill:red;
}
.home .svg{
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background-image: url("../../assets/images/homeNormal.svg");
    background-position: center center;
    background-size: contain;
}
.home .svg:hover  {
     background-image: url("../../assets/images/homeHover.svg");
    background-position: center center;
    background-size: cover;
 }
.home .svg:active {
    background-image: url("../../assets/images/homeActive.svg");
    background-position: center center;
    background-size: contain;
 }

.item {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer span{
    margin-top: 8px;
    font-family: 'SF Pro Display',sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color:#69707F;
}
.item:hover path {
     fill: #8798AD;
 }
.item:hover span {
     color: #8798AD;
 }
.item:active path {
     fill: #2E384D;
 }
.item:active span {
     color: #2E384D;
 }
a{
    text-decoration: none !important;
}