.footer {
  z-index: 99999999999999999999999999999999999999;
  height: 72px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
}
.footer_wrapper {
}
.home {
  cursor: pointer;
  position: absolute;
  right: 6px;
  top: -40px;
}
.home {
  fill: red;
}
.home .svg {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background-image: url("../../assets/images/homeNormal.svg");
  background-position: center center;
  background-size: contain;
}
.home .svg:hover {
  background-image: url("../../assets/images/homeHover.svg");
  background-position: center center;
  background-size: cover;
}
.home_active .svg {
  background-image: url("../../assets/images/homeHover.svg");
  background-position: center center;
  background-size: cover;
}

.item {
  cursor: pointer;
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item path {
  fill: #69707f;
}
.footer span {
  margin-top: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #69707f;
}
.item:active path {
  fill: #8798ad;
}
.item:active span {
  color: #8798ad;
}
.item_active span {
  color: #2e384d;
}
.item_active svg path {
  fill: #2e384d;
}
.item_active:active svg path {
  fill: #2e384d;
}
.item_active:active span {
  color: #2e384d;
}

a {
  text-decoration: none !important;
}
