.wrapper_redirect_p{
    grid-column: 1/13;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: calc(44px - 16px);
}.wrapper_redirect{
    grid-column: 1/13;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px 0 0;
}
.wrapper_redirect__svg{
    cursor: pointer;
    padding: 16px 16px 16px 0;
}
.wrapper_redirect__title{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 52px;
    color: #2E384D;
}
@media screen and (min-width: 1440px) {
    .wrapper_redirect_p {
        grid-column: 1/12;
    }
    .wrapper_redirect{
        grid-column: 1/12;
    }
}