@import '../../styles/variables';

.wrapper{
  padding: 4px 12px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 9px;
  align-items: center;
  @extend %text;
}
.default{
  background: $GRAY_60;
  color: $BLACK;
}
.active{
  background: $GREEN;
  color:$WHITE;
}