.wrapper{
    grid-column: 1/13;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 8px;
    padding-bottom: 90px;
}
.title {
    grid-column: 1/13;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    padding-bottom: 40px;
    line-height: 52px;
    color: #2e384d;
}
.time{
    width: 272px;
}
.time_arrow{
    cursor:pointer;
}
.course_list{
    /*margin: 0 -24px;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 4px;
}
.no_lessons{
    grid-column: span 12;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-auto-rows: min-content;
    padding: 32px 16px;
    box-shadow: var(--box-shadow);
    border-radius: 1px;
    margin: 0 -16px;
    grid-gap: 32px;
    grid-template-areas: 'span'
    'btn';
}
.no_lessons__text{
    grid-area: span;
}
.no_lessons__btn{
    grid-area: btn;
}
@media screen and (min-width: 1439px) {
    .wrapper{
        grid-column: 1/12;
    }
    .title{
        grid-column: 1/12;
    }
    .course_list{
        margin-left: -24px;
    }
    /*.no_lessons{*/
    /*    grid-column: span 11;*/
    /*}*/
}
