.dataPicker_wrapper{
    font-family: 'SF Pro Display', sans-serif;
    font-size: 12px;
    line-height: 16px;
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 150px;
    box-sizing: content-box;
}
.dataPicker_wrapper__label{
    color: #B0BAC9;
    font-family: 'Montserrat-bold',sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.125px;
    padding: 0 0 4px;
    text-transform: uppercase;
    display: block;
    margin: 0;
}
.dataPicker_wrapper__after{
    position: relative;
    width: 100%;
    margin:0;
}
.dataPicker_wrapper__after input{
    line-height: 24px;
    font-family: 'SF Pro Display', sans-serif;
    color:#BFC5D2;
    background: #F4F6FC;
    border: 1px solid #BFC5D2;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    font-size: 16px;
}
.dataPicker_wrapper__after input:focus{
    border: 1px solid #8798AD;
    outline: none;
    color:#69707F;
}
.dataPicker_wrapper__after input::placeholder{
    color: #BFC5D2;
    font-family: inherit;
    font-weight: inherit;
}
.dataPicker_wrapper__after img{
    content: '';
    position: absolute;
    top: 12px;
    right: 16px;
    transform-origin: center;
    height: 15px;
    width: 16px;
    background-image: image('../../assets/images/calendar.svg');
}
.dataPicker_wrapper__calendar{
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    background-color: #FFFFFF;
    z-index: 9999999999999999999999999999;
    padding: 16px;
    position: absolute;
    right: 0;
    width: 272px;
}
.dataPicker_wrapper__calendar__change{
    display: flex;
    justify-content: space-around;
}
.dataPicker_wrapper__calendar__change__wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 50%;
}
.dataPicker_wrapper__calendar__change__wrapper__prev{
    justify-self: flex-start;
    cursor: pointer;
    padding: 12px;
    width: 4px;
    height: 8px;
    background-image: url('../../assets/images/arrayRight.svg');
    background-position: center;
    background-size: 4px 8px;
    background-repeat: no-repeat;
    transform-origin: center;
    transform: rotate(180deg);
}
.dataPicker_wrapper__calendar__change__wrapper__prev:hover{
    background-image: url('../../assets/images/array.svg');
}
.dataPicker_wrapper__calendar__change__wrapper__next{
    cursor: pointer;
    padding: 12px;
    width: 4px;
    height: 8px;
    background-image: url('../../assets/images/arrayRight.svg');
    background-position: center;
    background-size: 4px 8px;
    background-repeat: no-repeat;
    transform-origin: center;
}
.dataPicker_wrapper__calendar__change__wrapper__next:hover{
    background-image: url('../../assets/images/array.svg');
}
.dataPicker_wrapper__calendar__date table{
    font-size: 12px;
    margin-top: 16px;
    width: 100%;
    height: auto;
    text-align: center;
    border-collapse: collapse;
}
.dataPicker_wrapper__calendar__date thead {
    border-bottom: 1px solid #E0E0E0;
    padding: 500px;
    color: #BDBDBD;
}
.dataPicker_wrapper__calendar__date thead th{
    width: 32px;
    height: 32px;
}
.dataPicker_wrapper__calendar__date tbody td{
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;
    color: #69707F;
}

.separate{
    height: 12px;
}
.activeItemTd{
    background: #2E384D;
    border-radius: 50%;
    color:#ffffff !important;
}
