.back{
    position:fixed;
    z-index:999999;
    top: 0;bottom: 0;left: 0;right: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center
}
.wrapper_sm{
    position: relative;
    min-height: 50px;
    background: #ffffff;
    width: 546px;
    display: grid;
    grid-auto-flow: row;
    padding-top: 32px;padding-bottom: 32px;
}
.wrapper_lg{
    position: relative;
    min-height: 50px;
    background: #ffffff;
    max-width: 634px;
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    padding-top: 32px;padding-bottom: 35px;
}
.close{
    cursor:pointer;
    position:absolute;
    right: 10px;top: 10px;
    z-index:99;
}
.wrapper_md{
    position: relative;
    min-height: 50px;
    background: #ffffff;
    min-width: 634px;
    display: grid;
    grid-auto-flow: row;
    padding-top: 32px;padding-bottom: 35px;

}